*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1600px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    overflow-y: visible;
    min-height: 100vh;
    background:black;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
}
header h1{
    margin-bottom: 20px;
}
li{
    list-style: none;
}
.main{
   width: 60%;
   padding: 100px;
}
.form input{
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
}
select{
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 10px;
}
.form{
    gap: 10px;
    display: flex;
}
.form button{
    padding: 15px;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    background-color: gray;
}


.form button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
    border: 1px solid white;
    transition: 0.5s ease;
}
.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky; */
}
.todo-list{
    min-width: 50%;
}
.todo{
    height: 50px;
    border-radius: 10px;
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li{
    flex: 1;
}
.complete-btn{
    border: 1px solid black;
    background-color: gray;
    padding: 1rem;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;

}.delete-btn{
    border: 1px solid black;
    background-color: gray;
    padding: 1rem;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}